.title {
    font-family:'Nunito Sans', sans-serif;
    font-size: 3em;
    height: 80vh;
    background-image: url(beach.jpg);
    background-size: cover;
    color: white;
    display: grid;
}

.header {
    background-color: #2B2A25;
    width: 100%;
    height: 10vh;
}

.footer {
    background-color: #2B2A25;
    width: 100%;
    height: 10vh;
}

.text {
    display: flex;
    align-items:flex-end;
    font-family:'Nunito Sans', sans-serif;
}

.btn {
    height: 75px;
    width: 125px;
    margin: 0 auto;
    margin-top: auto;
    border: 10px solid black;
    background-color: black;
}

.btn:hover {
    background-color: black;
}
